.header {
  font-family: var(--font-family);
  width: 100%;
  padding: 20px 0;
  position: sticky; /* Make header sticky */
  top: 0; /* Position at the top */
  z-index: 30;
  background-size: cover;
  box-sizing: border-box;
  background-color: whitesmoke; /* Added background color for visibility */
  transition: height 0.3s ease-out; /* Added transition for height */
}

.header.scrolled {
  height: 100px; /* Adjust height when scrolled */
}

.upperheader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(193, 255, 216);
  padding: 24px;
  box-sizing: border-box;
}

.searchbar {
  position: relative;
  display: flex;
  align-items: center;
}

#searchbar {
  width: 50rem;
  height: 3em;
  border-radius: 28px;
  border: solid transparent 70%;
  padding: 10px;
  transition: width 0.2s ease-out, border 0.2s ease-out;
  flex-grow: 1;
  box-sizing: border-box;
  padding-right: 40px;
}

#searchbar:hover {
  width: 55rem;
  border: solid;
}

.searchbar_icon {
  position: absolute;
  right: 10px;
  pointer-events: none;
}

#logo {
  margin-left: 25px;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 180px;
  height: 90px;
  justify-content: center;
  gap: 10px;
}

#logo_text {
  font-size: 2em;
  color: rgb(18, 18, 17);
  font-weight: 650;
}

#logo img {
  width: auto;
  padding: 0 10px 0 0;
  height: 36px;
}

.login_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 25px;
  gap: 15px;
}

.login {
  height: 3em;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3em;
  box-sizing: border-box;
  border-radius: 26px;
  transition: width 0.2s ease-out, height 0.2s ease-out, border 0.2s ease-out;
}

.login:hover {
  height: 3.1em;
  width: 140px;
}

.login_button {
  background: linear-gradient(to right, rgb(125, 205, 144), rgb(82, 210, 93));
  width: 150px;
  height: 45px;
  border-radius: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.login_icon {
  margin: 1px 0 2px 2px;
  width: 16px;
  height: 16px;
}

.lowerheader {
  background-color: var(--primary-color);
  padding: 5px;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out; /* Added opacity transition */
}

.lowerheader.hide {
  transform: translateY(-100%); /* Move up */
  opacity: 0; /* Fade out */
}

.Menu_list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.lowerheader li {
  margin-right: 28px;
  font-size: 23px;
}

.Menu_link {
  text-decoration: none;
}

.Menu_name {
  border-radius: 10px;
  padding: 20px;
  color: aliceblue;
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out, color 0.2s ease-out;
}

.Menu_name:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: palevioletred;
  background-color: black;
}

#toggle {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

#Our_products_icon {
  margin: 1px 0 0 8px;
  transition: transform 0.3s ease-out;
}

#Our_products {
  margin-top: 8px;
  position: relative;
  display: flex;
}

#Our_products:hover #Our_products_icon {
  transform: rotate(180deg);
}

#Our_products:hover .Our_products_toggle {
  display: block;
}

.Our_products_link {
  text-decoration: none;
  color: white;
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out, color 0.2s ease-out;
}

.Our_products_link:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: palevioletred;
  background-color: black;
}

.Our_products_toggle {
  position: absolute;
  z-index: 1;
  display: none;
  background-color: rgba(0, 0, 0);
  border-radius: 10px;
  left: 0;
  margin-top: 30px;
}

.Our_products_toggle li {
  list-style-type: none;
  padding: 10px 0;
}

.Our_products_toggle li:last-child {
  padding-bottom: 20px;
}
