.Slideshow {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: rgb(162, 255, 224);
    padding: 20px; /* Adjust padding as needed */
  }
  
  .slideshow_wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slideshow_image {
    width: 100%;
    height: auto;
    flex: 0 0 auto; /* Ensure images don't shrink */
  }
  
  .Slideshow img {
    width: 100%;
    height: auto;
  }
  